#graph_container div {
  //transition: all 3000ms ease;
}

//all transitions on loan list items are 300ms
.loan_list_item {
  transition: all 300ms ease;
  z-index: 10;
}

.facepage {
  -webkit-perspective: 5000px;
  -webkit-perspective-origin: 50% 100px;
}

@media (min-width: 1024px) {
  .side-tilted-container {
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;

    .side-results {
      background: white;
      -webkit-transition: all 1000ms ease;
      -webkit-transform: rotateY(0deg) translateX(0px);
    }
    .side-tilted {
      -webkit-transform: rotateY(15deg) translateX(5px);
      .btn {
        z-index: 10;
      }
      -webkit-transform-origin: 100% 50%;
    }
    .side-shadow-sometimes {
      -webkit-transition: all 1000ms ease;
      -webkit-box-shadow: -25px 10px 117px -16px rgba(0, 0, 0, 0.0);
      height: 900px;
      width: 300px;
      position: absolute;
      top: 20px;
    }
    .side-tilted-shadow {
      -webkit-transition: all 1000ms ease;
      -webkit-box-shadow: -25px 10px 117px -16px rgba(0, 0, 0, 0.75);
      background: black;
      opacity: .75;
      height: 900px;
      width: 300px;
      position: absolute;
      top: 20px;
    }
  }
  .flat-3d {
    -webkit-transform: rotate3d(0,0,0,0deg);
  }
}

.loan_list_item.selected {
  z-index: 12;
  transform: rotateY(0deg); // translateX(30px) translateZ(100px);
  background-color: aliceblue;
}

.loan_list_item.gone {
  z-index: 1;
  -webkit-transform: translate3d( 0, -50px, -50px ) rotateX( -90deg );
  //transform: translateX( -70% );
}

.loan_list_container {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  //box-shadow: inset 0 0 10px #000000;
}

div.panel.radioPanel {
  div.radio {
    margin-left: 40px;
  }
}

.btn-group.top-only {
  .btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
  }
  .btn:last-child:not(:first-child){
    border-bottom-right-radius: 0;
  }
}

.not-rounded-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.not-rounded {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.menu_selected {
  background-color: #242422;
}

.loan_list_item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.Loan .fullsizeImage .KivaImage {
    min-height: 200px;
    min-width: 200px;
    background-size: 200px 200px;
}

.loading_notice {
  display: none;
  padding: 5px;
}

.fullsizeImage .KivaImage.not_loaded .loading_notice {
  display: block;
}

.KivaImage {
  background-repeat: no-repeat;
  background-size: contain;
}

.KivaImage.loaded {
  background-image: none;
  img {
    transition: all 300ms ease;
    opacity: 1;
  }
}

.KivaImage.not_loaded img {
  transition: all 300ms ease;
  opacity: 0;
}

.loan_list_item {
  height: 100px;
  width: 100%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  overflow-y: hidden;
  .KivaImage {
    float: left;
    margin-right: 5px;
    margin-left: -20px;
    background-size: 90px 90px;
    img {
      width: 90px;
      height: 90px;
    }
  }
}


.snowstack {
  #caption
  {
    position: fixed;
    top: 0; right: 0; left: 0;
    font-size: 10pt;
    color: white;
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
    padding: 10pt 10pt 10pt 20pt;
    -webkit-transform: translate3d(0, 0, 2000px);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 550ms;
  }

  #caption.hide
  {
    opacity: 0;
  }
}

.labeledNumber {
  color: rgb(51, 51, 51);
  display: table;
  height: 34px;
  width: 100%;
  outline: rgb(51, 51, 51) none 0px;
  margin-bottom: 2px;

  .number {
    color: rgb(85, 85, 85);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
    background: rgb(238, 238, 238);
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 0px none rgb(85, 85, 85);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    outline: rgb(85, 85, 85) none 0px;
    padding: 6px 12px;
  }
  .name {
    color: rgb(85, 85, 85);
    background: white;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    outline: rgb(85, 85, 85) none 0px;
    padding: 6px 12px;
  }
}

ul.spacedList li {padding-top: 10px}


.float_left {
  float: left;
}

.float_right {
  float: right;
}

.infinite-list {
  overflow: auto;
  position: relative;
}

.infinite-list-content {
  margin: 0;
  position: absolute;
  width: 100%;
}


@media (max-width: 768px) {
  .loan_list_container {height: 300px !important;}
}

.loan_list_container {
  width: 100%;
}

.notification-bar { //react-notification
  z-index: 30000;
}

.ample-padding-top {
  padding-top: 15px;
}

.spacedChildren > * {
  display: inline-block;
  //float:left;
  //height: 50px;
  //margin-right: 15px;
}

.spacedChildren.notEnabled > div.btn-group > button.btn {
  background-color: #aaaaaa !important;
}

.in_basket {
  background-color: #93C54B !important;
}

.funded {
  background-color: #898989 !important;
}

.in_portfolio {
  background-color: #cfcfcf !important;
}

.blur-me {
  filter: blur(20px);
}

div.notification-bar {
  font-size: 2rem !important;
}

.pad-sides {
  padding-left: 10px;
  padding-right: 10px;
}

//my adjustments. otherwise the dropdown appears behind the slider handles
.Select-menu-outer {
  z-index: 1000 !important;
}


/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
:not(.Select--multi) > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
  color: #333;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  height: 34px;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}





///  react-slider ///
.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 20px;
  border: 0px none;
  margin: 5px;
}

.handle.active {
  background-color: grey;
}

.handle {
  color: rgb(85, 85, 85);
  height: 13.1875px;
  position: absolute;
  text-align: center;
  width: 13.1875px;
  cursor: pointer;
  background: rgb(230, 230, 230);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal normal 11px / normal Verdana, Arial, sans-serif;
  outline: rgb(85, 85, 85) none 0px;
}

.bar {
  position: relative;
  background: #cfcfcf;
}

.bar.bar-1 {
  background: #93C54B;
}

.bar.bar-2 {
  background: #cfcfcf;
}

.horizontal-slider .bar {
  top: 12px;
  height: 5px;
}

.horizontal-slider .handle {
  top: 1px;
  width: 25px;
  height: 25px;
  line-height: 15px;
}

#horizontal-0,
#horizontal-1, #horizontal-2, #horizontal-3,
#vertical {
  margin: 20px 10px;
}

#horizontal-2 .bar.bar-2 {
  background: #ddd;
}

//transitions

.simpleFade-enter {
  opacity: 0.01;
}

.simpleFade-enter.simpleFade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.simpleFade-leave {
  opacity: 1;
}

.simpleFade-leave.simpleFade-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}