<!DOCTYPE html>
<html lang='en'>
<head>
  <script type="application/javascript">
    if (location.hostname == 'kivalens.org') {
      if (document.referrer && document.referrer.indexOf('kivalens.org') == -1)
        location.href = "http://www.kivalens.org/#/outdated?attempt=" + encodeURIComponent(document.referrer.replace('http://',''))
      else
        location.replace(location.href.replace('kivalens.org','www.kivalens.org'))
    }
  </script>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, user-scalable=0' name='viewport'>
  <title>Kiva Lens</title>
  <link href='stylesheets/application.min.css' rel='stylesheet' type='text/css'>
  <link href='stylesheets/snowstack.css' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/sandstone/bootstrap.css" rel='stylesheet' type='text/css'>

  <script src="javascript/socket.io.min.js"></script>
  <script src="javascript/snowstack.min.js" async></script>
  <script src="javascript/q.min.js"></script>
  <script src="javascript/LargeLocalStorage.min.js"></script>
  <script src="javascript/build.js" async></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div id="react-app">
  <div class="jumbotron">
    <div class="container">
      <h1>Loading</h1>
      <p>The KivaLens app is loading. Please wait...</p>
    </div>
  </div>
</div>
</body>
</html>
