.loan_list_container {
  height: 500px;
  width: 100%;
  overflow-y: scroll; }

.loan_list_item {
  height: 100px;
  width: 100%; }
  .loan_list_item img {
    margin-right: 5px;
    margin-left: -20px;
    margin-top: -12px; }
  .loan_list_item .details {
    width: 305px; }

.float_left {
  float: left; }

.infinite-list {
  overflow: auto;
  position: relative; }

.infinite-list-content {
  margin: 0;
  position: absolute; }
