.loan_list_container {
  height: 500px;
  width: 100%;
  overflow-y: scroll; }

.loan_list_item {
  height: 100px;
  width: 100%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  overflow-y: hidden; }
  .loan_list_item img {
    margin-right: 5px;
    margin-left: -20px; }
  .loan_list_item .details {
    width: 305px; }

.float_left {
  float: left; }

.infinite-list {
  overflow: auto;
  position: relative; }

.infinite-list-content {
  margin: 0;
  position: absolute; }

.ample-padding-top {
  padding-top: 15px; }

.in_basket {
  background-color: #93C54B !important; }

.in_portfolio {
  background-color: #cfcfcf !important; }
